body {
	font-family: 'Coiny', cursive;
	padding: 20px 100px 0px 100px;
	background: #f4f4f4;
	display: flex;
	justify-content: center;
}

#app {
	display: flex;
	flex-direction: column;
}

h1 {
	display: flex;
	justify-content: space-around;
}

button {
	margin-top: 50px;
	height: 50px;
	border-radius: 41px;
	border: none;
	background: darkslateblue;
	font-size: 26px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	cursor: pointer;
	
}

button:hover {
	background: slateblue;
}

button:active {
	background: mediumslateblue;
}

button:focus {
	outline: 0;
}

#board {
	display: flex;
}

.row div {
	font-family: 'Indie Flower', cursive;
	display: flex;
	width: 80px;
	height: 80px;
	font-size: 52px;
	border: 1px solid black;
	cursor: pointer;
	align-items: center;
	justify-content: space-around;
}

.oh {
	color: red;
}

.ex {
	color: blue;
}

#tl {
	border-top: 1px solid #f4f4f4;
	border-left: 1px solid #f4f4f4;
}

#tm {
	border-top: 1px solid #f4f4f4;
}

#tr {
	border-top:1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
}


#bl {
	border-bottom: 1px solid #f4f4f4;
	border-left: 1px solid #f4f4f4;
}

#bm {
	border-bottom: 1px solid #f4f4f4;
}

#br {
	border-bottom:1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
}

#mr {
	border-right: 1px solid #f4f4f4;
}

#ml {
	border-left: 1px solid #f4f4f4;
}
